/* Imports */


@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@500&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");


/* Header */


body{
background-color: #fff;
font-family: 'Zen Kaku Gothic New', sans-serif;
}

.icon-xl{
    font-size: 50px;
    }

.icon-lg{
font-size: 35px;
}

.icon-md{
 font-size: 25px;
}

i{
    font-style: normal;
}

.link-hover:hover{
    color: rgb(137, 172, 202) !important;
}


/* Main Nav Bar */


.main-nav-container{
background-color: #1a3b96;
color: #000;
font-size: 25px ;
font-family:'Zen Kaku Gothic New', sans-serif;
justify-content: left;
height: 225px;
padding: 0 !important;

}

span.nav-logo-text{
    color: #fff;
    text-decoration: none;
    font-size: 50px;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: bolder;
    text-align: left !important;
}

#main-logo{ 
    width:225px; 
    height:200px;
}
.nav-link-menu{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    justify-content: baseline;
    /* margin-top: px; */
    text-align: end;
    

  
}
.nav-main-text{
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
    
}
.login-cart-contain{
text-align: right;
position: relative;
bottom: 50px;

}
.sign-in-sec{
    font-size: 28px;
}



/* Promotion Bar */

nav{
    padding: 0px !important;
}
#PromoMarginContacts{
    margin-bottom: 50px;
    
}

p.navbar-text{
	display:flex;
  	justify-content: center;
  	align-items: center;

}

p.promo-front-pg{
    padding: 0px !important;
    margin: 0px  0px 3px 0px !important;
    text-align: center;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    color: #1a3b96 !important;
    font-weight: bolder;
    font-size: 20px;

}

.nav-bottom{
    background-color: rgb(179, 179, 179);
    height: 35px;
    padding: 0px !important;
    margin: 0px !important;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}

/* Hours & Locations */

#MainContainer{
    display: flex;
    flex-wrap: wrap;
    

}

#HoursLocationsContacts{
    padding: 0px !important;
    flex-direction: row;
    margin-left: 70px; 
    
}
.LandTMargin{
    padding-top: 50px;
}
.main-page-content{
    background-color:rgb(243, 243, 243);
    margin-top: 10px;
}

#Loc{
    list-style-type: none;
}
#Loc li {
    text-align: center;
    font-size: 16px;
   display: flex;
   flex-direction: column;
}
h3{
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    text-align: center;
    
}
h6{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    color:#0937b4;
    text-decoration: underline;
    text-align: center;
}
.LocTime-text{
    font-size: 18px;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}


/* Contact Info */
.contact-h6-text{
    font-size: 20px !important;
}
.contact-p-text{
    font-size: 18px !important;
}

.contact-main-contain{
    margin-left: 50px !important;
}
.email-links{
    font-size: 18px;
    text-align: center;
    color: #5a74bd;
    font-weight: bolder;
}
.email-container{
    text-align: center;
    display: flex;
    flex-direction: row; 
    list-style: none;
    justify-content: space-evenly;
}
#ContactContacts{
    height: 300px !important;
}


/* Map */
.map-container{
    display:flex;
    justify-content: center;
    margin-top: 50px;
    border-style: solid;
    border-color: #0937b4;
}




/* Footer */

.footer-contact{
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    
}

.footer-menu-row{
    columns: 12;
}
.footer-menu-social-logo{
    color:#fff !important;
    font-size: 50px;
    font-family: 'Zen Kaku Gothic New', sans-serif; 
}

.footer-menu-contact{
    color:#fff !important;
    font-size: 16px;
    font-family: 'Zen Kaku Gothic New', sans-serif; 

}
.footer-style{
    background-color:  #1a3b96;
    margin-top: 30px;
}

.bottom-menu{
    font-weight: bolder;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    color: #fff !important;
}

#main-bottom-logo{
    width: 250px;
    height: 250px;


}

.footer-main-links{
    text-align: right;
    margin-top: 10px;
    margin-right: 20px;
    justify-content: right;
    font-size: 25px;
    font-weight: normal;

}
.footer-main-links-sub1{
padding-left: 25%;
font-weight: normal;
margin-top: 30px;
}
.footer-main-links-sub2{
    font-weight: normal;
    text-align: left;
    justify-content: left;
    margin-top: 30px;
}
.footer-menu-main{
 font-size: 20px;
 font-weight: normal !important;

}
h1{
    font-size: 30px;
    text-decoration: underline;
}
.footer-logo-row{
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;

}


/* Media */

   /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...} 
